ul#cssmw3 {
  cursor: default;
  height: 30px;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul li {
  background-image: none;
  float: none;
}
ul#cssmw3 li {
	zoom:1;
	background-image: none;
	float: right;
	padding: 0px 15px 0 15px;
	position: relative;
	white-space: nowrap;
}
ul#cssmw3 li ul {
  display: none;
  top: -1px;
}
ul#cssmw3 li.hover ul {
  display: block;
  position: absolute;
}
ul#cssmw3 li {
  background-image: none;
}
ul#cssmw3 li a {
	background-image: url("../images/menu_bg.jpg");
	background-repeat: repeat-x;
	color: #2E2D2C;
	display: block;
	font-family: Trajan Pro;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	height: 20px;
	margin: 0 0 0 0;
	padding: 5px 20px 5px 20px;
	text-align: center;
	text-decoration: none;
	width: 100px;
}
ul#cssmw3 li a.active {
  background-image: url("../images/menu_bg_sel.jpg");
  background-repeat: repeat-x;
}
ul#cssmw3 li * a {
  height: auto;
  width: auto;
}
ul#cssmw3 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw3 li.hover a {
  background-image: url("../images/menu_bg_sel.jpg");
  background-repeat: repeat-x;
}
ul#cssmw3 li.hover a.active {
  background-image: url("../images/menu_bg_sel.jpg");
  background-repeat: repeat-x;
}
ul#cssmw3 ul.level-1 {
	background-color: #F90;
	border-bottom: solid 1px #FBDE66;
	border-left: solid 1px #FBDE66;
	border-right: solid 1px #FBDE66;
	left: 0px;
	top: 100%;
	z-index:500;
}
ul#cssmw3 ul.level-1 li {
  background-image: none;
  padding-left:5px;
}
ul#cssmw3 ul.level-1 li a {
	background-color: #F90;
	background-image: none;
	color: #306;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	margin: 0 0 0 0;;
	padding: 5px 5px 5px 5px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	width: 150px;
}
ul#cssmw3 ul.level-1 li a.active {
	background-color: #FFF;
	color: #306;
	font-weight: bold;
	text-decoration: none;
	padding-left:10px;
}
ul#cssmw3 ul.level-1 li * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-1 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-1 li.hover a {
	background-color: #FFF;
	color: #306;
	font-weight: bold;
	text-decoration: none;
}
ul#cssmw3 ul.level-2 {
  background-color: #E0B93A;
  border-bottom: solid 1px #FBDE66;
  border-left: solid 1px #FBDE66;
  border-right: solid 1px #FBDE66;
  border-top: solid 1px #FBDE66;
  left: 110px;
}
ul#cssmw3 ul.level-2 li {
  background-image: none;
}
ul#cssmw3 ul.level-1 li ul.level-2 li a {
  background-color: #E0B93A;
  background-image: none;
  color: #2E2D2C;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw3 ul.level-2 li a.active {
  background-color: #C17456;
  color: #2E2D2C;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-2 li * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-2 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-1 ul.level-2 li.hover a {
  background-color: #C17456;
  color: #2E2D2C;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-3 {
  background-color: #E0B93A;
  border-bottom: solid 1px #FBDE66;
  border-left: solid 1px #FBDE66;
  border-right: solid 1px #FBDE66;
  border-top: solid 1px #FBDE66;
  left: 110px;
}
ul#cssmw3 ul.level-3 li {
  background-image: none;
}
ul#cssmw3 ul.level-1 li ul.level-2 li ul.level-3 li a {
  background-color: #E0B93A;
  background-image: none;
  color: #2E2D2C;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw3 ul.level-3 li a.active {
  background-color: #C17456;
  color: #2E2D2C;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-1 ul.level-2 ul.level-3 li.hover a {
  background-color: #C17456;
  color: #2E2D2C;
  font-weight: bold;
  text-decoration: none;
}
